/* HERO CONTENT */
.content {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 0px; 
    padding: 20px;
    box-sizing: border-box;
}
.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-image {
    max-width: 1000px;
}
.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    object-fit: cover;
}
.hero-action {
    margin-top: 40px;
    margin-bottom: 10px;
}
.btn-primary {
    background: #eb2525;
    color: #fff;
    padding: 28px 56px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 1000;
    display: inline-block;
}
.btn-primary:hover {
    opacity: 0.9;
}
.trend {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}
.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 40px;
}

/* TRENDING CONTENT */
.trend-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
/* CARD */
.trend-card {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
}
.trend-card:hover {
    transform: translateY(-6px);
}
/* IMAGE */
.trend-image {
    width: 100%;
    height: 640px;
    object-fit: cover;
    display: block;
}
/* TEXT */
.trend-card .info {
    padding: 16px;
}
.trend-card h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffffff;
}
.trend-card p {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.8;
}
/* Responsiveness */
/* tablet */
@media (max-width: 992px) {
    .trend-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* mobile */
@media (max-width: 600px) {
    .trend-grid {
        grid-template-columns: 1fr;
    }

    .trend-image {
        height: 200px;
    }
}
/* ADVERTISEMENT CONTENT */
.advertisement {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}
.advertisement-content {
    margin: 24px 0;
}
.advertisement-image {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}
/* CATEGORY CONTENT */
.section-title-cat {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 65px;
}
.trend-grid-cat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
/* CARD */
.trend-card-cat {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
}
.trend-card-cat:hover {
    transform: translateY(-6px);
}
/* IMAGE */
.trend-image-cat {
    width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
}
/* TEXT */
.trend-card-cat .info {
    padding: 16px;
    text-align: center;
}
.trend-card-cat h3 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #ffffff;
}
.trend-card-cat p {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.8;
}
.btn-secondary {
    display: inline-block;
    margin-top: 20px;
    background: #eb2525;
    color: #fff;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.btn-secondary:hover {
    opacity: 0.85;
}
